<ion-view view-title="Checkout" ng-init="vm.init()">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="itm in vm.productsCheckedOut track by $index">
                <img src="{{vm.imgUrl + itm.product.imageUrl[0]}}" />
                <h2>{{itm.product.name}}</h2>
                <div class="row">
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <p>{{itm.product.description}}</p>
                </div>
                <div class="row row-center">
                    <div class="col">
                        <button class="button button-icon icon ion-ios-plus-outline" ng-click="vm.incrementQty(itm.id)"></button>
                    </div>
                    <div class="col">
                        <span class="label" >{{itm.qty}}</span>
       				</div>
       				<div class="col">
                        <button class="button button-icon icon ion-ios-minus-outline" ng-click="vm.decrementQty(itm.id)"></button>
                    </div>
                    <div class="col">
                    	<button class="button button-icon icon ion-ios-information" ng-click="vm.showProduct(itm.id)"></button>
                    </div>
                    <div class="col">
                    	<button class="button button-icon icon ion-ios-trash-outline" ng-click="vm.removeProduct(itm.id)"></button>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
    <!-- footer starts here -->
    <div class="bar bar-subfooter bar-balanced auto-height">
        <div class="row">
            <p style="color:#000">Total Billed Amount: AED {{vm.checkoutSummary.price}} (No. of items{{vm.checkoutSummary.count}})</p>
        </div>
    </div>

<div class="bar bar-footer bar-positive footer-button">
        <button style="margin:0" class="button button-full button-positive" ng-click="vm.checkout()">
  Proceed with Checkout
</button>
    </div>
</ion-view>
