<ion-view view-title="Checkout" ng-init="vm.init()">
  <ion-content>
  <div class="list">

    <a class="item item-avatar" ng-repeat="itm in vm.productsCheckedOut track by $index" >
    <img cache-src="{{vm.imageUrl + itm.product.imageUrl[0]}}"/>
   
     
      <h2>{{itm.product.name}}</h2>
      <p>Pure wood(Description)</p>
      

       <div class="row row-center">
      <div class="col col-center">
         <button class="button button-stable" ng-click="vm.incrementQty(itm.id)">+</button>
       <span class="label" style="vertical-align: middle;">
       	{{itm.qty}}
       </span>
       <button class="button button-stable">-</button>
      </div>
    </div>
       </a>

   
</div>
  </ion-content>
  <div class="bar bar-footer">
  <div class="title">
       <button class="button button-stable" ng-click="vm.checkout()">Proceed with Checkout</button>
  </div>
</div>
</ion-view>
