<ion-view view-title="Cart Items" ng-init="vm.init()">
    <ion-content style="height:60%;">
        <div class="card" ng-show="vm.productsCheckedOut.length === 0">
            <div class="item item-divider">
                Hey! your cart is Empty.
            </div>
            <div class="item item-text-wrap">
                <img src="img/empty-cart.png" width="100%" />
            </div>
        </div>

        <div class="list">
            <a class="item" ng-repeat="itm in vm.productsCheckedOut track by $index">
                <div class="row">

                    <div class="col col-20">
                        <img src="{{vm.imgUrl + itm.product.imageUrl[0]}}" height="40px" width="40px" />

                    </div>
                    <div class="col col-50">
                        <p><strong>{{itm.product.name}}</strong></p>
                    </div>
                    <div class="col-30">
                        <p><strong>Amount: {{itm.product.unitPrice * itm.qty}}</strong></p>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col">
                        <button class="button button-icon icon ion-ios-plus-outline" ng-click="vm.incrementQty(itm.id)"></button>
                    </div>
                    <div class="col">
                        <span class="label">{{itm.qty}} Nos</span>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-ios-minus-outline" ng-click="vm.decrementQty(itm.id)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-ios-information" ng-click="vm.showProduct(itm.id)"></button>
                    </div>
                    <div class="col">
                        <button class="button button-icon icon ion-ios-trash-outline" ng-click="vm.showRemoveConfirm(itm.orderId,itm.id)"></button>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
    <!-- footer starts here -->

    <div style="position:absolute;top:70%;width:100%;">
        <div class="row">
            <div class="col col-90">
                <h4>Order Summary</h4>
            </div>
        </div>

        <div class="row">
            <div class="col col-70">
                No. Items: {{vm.checkoutSummary.count}} </br>
                Total Amount: {{vm.checkoutSummary.price}} AED</br>
                Delivery Amount: 0 AED</br>
                Net Total: {{vm.checkoutSummary.price}} AED
            </div>
            <div class="col col-30">
                <button style="margin:0" class="button button-full button-positive" ng-click="vm.checkout()">
                    Checkout
                    </button>
            </div>
        </div>
    </div>
</ion-view>