<ion-view view-title="Choose Your Business-Demo">
<ion-content>
<div class="div1">
  <div class="box" ng-click="vm.showSuperMarket()"> <img src="img/1old.jpg">
    <a  class="button-clear button-positive centerbtn">
      <h1 style="color:#fff;text-shadow: 5px 3px 5px #000;">Super Market</h1>
    </a>
  </div>
  <div class="box" ng-click="vm.showFurniture()"> <img src="img/2old.jpg">
    <a class=" button-clear button-positive centerbtn">
      <h1 style="color:#fff;text-shadow: 5px 3px 5px #000;">Furniture</h1>
    </a>
  </div>
  <div class="box" ng-click="vm.showJewellery()"> <img src="img/3old.jpg">
  <a class="button-clear button-positive centerbtn">
    <h1 style="color:#fff;text-shadow: 5px 3px 5px #000;">Jewellery</h1>
</a>
 </div>
</div>

</ion-content>
</ion-view> 





 
