<ion-view view-title="Order Detials" ng-init="vm.init()">
    <ion-content>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-paper-airplane"></i> {{vm.status}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-clock"></i> {{vm.dateTime}}
            </a>
            <!--   <a href="#" class="item item-icon-left">
                <i class="icon ion-edit"></i>
			<button class="button button-outline button-dark">
			  Edit Order
			</button>
            </a> -->
            <a class="item item-icon-left" ng-show="vm.status === 'ORDER_PLACED'">
                <i class="icon ion-android-cancel assertive"></i>
                <button class="button button-outline button-assertive" ng-click="vm.cancelOrder()">
                    Cancel Order
                </button>
            </a>
            <a href="#" class="item item-icon-left" ng-show="vm.status === 'PROCESSING'">
                <i class="icon ion-android-hand royal"></i>
                <button class="button button-outline button-royal">
                    Waiting for Long - Not Happy
                </button>
            </a>
            <a href="tel:+9715404488" class="item item-icon-left">
                <i class="icon ion-ios-telephone balanced"></i>
                <button class="button button-outline button-balanced">
                    Call Us
                </button>
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-edit"></i> Feedback
            </a>
        </div>

        <!-- Ordered Items starts here -->
        <ion-list>
            <a class="item item-avatar" ng-repeat="itm in vm.orderDetails.items">
                <img src="{{vm.imageUrl + itm.product.imageUrl[0]}}" />
                <h2>{{itm.product.name}}</h2>
                <p>{{itm.product.description}}
                    <button class="button button-positive" ng-click="vm.reorder(itm.product.id)" style="float:right">
                        Re-Order
                    </button>
                </p>

            </a>
        </ion-list>
        <!-- Ordered Items ends here -->
    </ion-content>
</ion-view>