<ion-view view-title="Products" ng-init="vm.init()">
  <ion-content>

  <ion-list ng-show="vm.noDataBanner === false">
    <ion-item ng-repeat="itm in vm.products" item="itm" href="#/app/productDetails/{{itm.id}}">
    <img cache-src="{{vm.imageUrl + itm.imageUrl[0]}}"/>
      <h2>{{itm.name}}</h2>
        <img height="40px"  ng-show="itm.showOffer" style="float:right;position:top;" src="img/special-offer.jpg">
        <p style="margin-right: 25%;">{{itm.description}}</p>
        <button ng-show="itm.unitPrice" class="button  icon"> AED {{itm.unitPrice}} </button> 
    </ion-item>
  </ion-list>

   <ion-infinite-scroll
    on-infinite="vm.loadMore()"
    distance="1%"
    ng-if="vm.moreDataCanBeLoaded()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>