<ion-view view-title="Check Out">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Delivary Addr. info
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Mode of Pay
                </div>
                <select>
                    <option selected>Cash On Delivary - COD</option>
                </select>
            </label>
            <div class="item item-divider">
                Shipping Address
            </div>
            <div class="card">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Title
                    </div>
                    <select>
                        <option selected>Mr</option>
                        <option>Mrs</option>
                    </select>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="First Name" ng-model="vm.shipping.firstName" required>
                </label>
                <!--ANOTHER TYPE-->
                <!--END-->
                <label class="item item-input">
                    <input type="text" placeholder="Last Name" ng-model="vm.shipping.lastName">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Mobile Number"
                    ng-model="vm.shipping.contactNo" required>
                </label>
               
                <label class="item item-input">
                    <input type="text" placeholder="Street Address 1" ng-model="vm.shipping.address1">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Street Address 2" ng-model="vm.shipping.address2">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="vm.shipping.city">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Post Box" ng-model="vm.shipping.pobox">
                </label>
                 <button class="button button-positive" ng-click="vm.getGeoLocation()">Pin My Geo-location</button>
            </div>

        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <button style="margin:0" class="button button-full button-positive" ng-click="vm.showConfirm()">
            Place your Order
        </button>
    </div>
</ion-view>
