/*ion-slide-box begins*/

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.slider {
  height: 100%;
}
.slider-slide {
  /*padding-top: 80px;*/
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.bar-stable .button.button-clear{
  font-size: 10px;
}

#logo {
  margin: 30px 0px;
}
.centerbtn{
  position: absolute;
    width: 100%;
    top: 50%;
    z-index: 999;
    margin-top: -20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}
.box{
  position: relative;
}
.item-button-right, a.item.item-button-right, button.item.item-button-right {
  padding-right:0px !important
}
.pricing{
  color:#f00 !important;
  font-weight: bolder;
}
.pad{
  margin-top: 30px;
}


.div1{
   width:100%;
   height:auto;
   overflow:auto;
   float:left;
   }
.div1 div{
   width:100%;
   height:auto;
   overflow:auto;
   float:left;

   }
.div1 div img{
   width:100%;
   height:auto;
   
   display:block;
   /*float:left;*/
   }


/*[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: rgba(40, 195, 152, 0.82);
}*/

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}


/*end of ion-slide-box*/

/*validation styles*/
input.ng-invalid {
  border-bottom: 1px solid #f00; 
}
input.ng-valid {
     border-bottom: 1px solid lightgreen; 
}
/*end of validation styles*/

.product-list-item-left
{
      border: #eff5f5;
    border-left-style:inset;
    border-width: 1px;
    padding-left: 20px;
}

.product-list-item-img
{
  height: 120px;
    padding-left: 10px;
}

.product-list .row img
{
  min-height: 120px;
}